@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Protest Riot', sans-serif;
}
.protfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    height: 20vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: rgb(250, 245, 238);
    position: relative;
}
.left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-container{
    background: #855703c7;
    width: 70%;
    padding-left: 3rem;

}
.right-container{
    background: linear-gradient(#964936, #070200);
    width: 30%;
}
.icons.fa-brands{
    color: rgb(109, 46, 5);
    font-size: "1.7rem";
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}
.content{
    margin-left: 4rem;
}
.content h2{
    font-size: 1.5rem;
    color: antiquewhite;
}
.content h1{
    font-size: 4rem;
    color:#35060c
}
.content .detail{
    font-size: 1.1rem;
    color: antiquewhite;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.btn-container button{
    border: .1re solid antiquewhite;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor:pointer;
}
button:nth-child(1){
    background: #cf8a30;
    color: #35060c;
}
button:nth-child(2){
    background: #cf8a30;
    color: #35060c;
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: #2b0d06;
}
button:nth-child(2):hover{
    background: transparent;
    color:#2b0d06;
}
.icon .icons.fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#f1bf7c,#36140b);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}
.design .curvedsquare{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.curvedsquare:nth-child(1){
    background: linear-gradient(90deg, #310a01 , #f8d8af );
    width: 25rem;
}
.curvedsquare:nth-child(2){
    background: #f8d8af;
    width: 22rem;
    background-image: url("image/pexels-rafael-barros-1819483.jpg");
    background-size: 100%;
    background-repeat:no-repeat ;
}
.navlist li a::after{
    content:"";
    position: absolute;
    background: #f8d8af;
    width: "100%";
    height: ".1rem";
    left:  "0";
    bottom: "-5px";
}